<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Professor's Book</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <link rel="stylesheet" href="../public/css/main.css" />
  <link rel="stylesheet" href="../public/css/books.css" />
  <link rel="icon" href="favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:700|Raleway:100"
    rel="stylesheet"
  />
</head>
<body>
  <header class="main-header" id="home">
    <nav class="header-container clearfix">
      <ul class="main-nav">
        <li><a class="link1" href="#home">Home</a></li>
        <li><a class="link2" href="#portfolio">Books</a></li>
      </ul>
    </nav>
  </header>
  <div class="main" id="portfolio">
    <section class="grid-item main">
      <div class="items">
        <div class="item">
          <div class="book-img">
            <img
              id="book-cover"
              src="https://i.postimg.cc/L5mqpHZd/responsive-layout-profile.png"
            />
          </div>
          <div class="book-name">
            <h4 class="b-name">Physics Volume 1</h4>
          </div>
          <div class="book-description" style="word-wrap: anywhere">
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
              sequi.
            </p>
          </div>
          <div class="buttons">
            <div class="view-btn button">
              <a href=""><p>View</p></a>
            </div>
            <div class="dl-btn button">
              <a href=""><p>Download</p></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="book-img">
            <img
              id="book-cover"
              src="https://i.postimg.cc/L5mqpHZd/responsive-layout-profile.png"
            />
          </div>
          <div class="book-name">
            <h4 class="b-name">Physics Volume 2</h4>
          </div>
          <div class="book-description" style="word-wrap: anywhere">
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
              sequi.
            </p>
          </div>
          <div class="buttons">
            <div class="view-btn button">
              <a href=""><p>View</p></a>
            </div>
            <div class="dl-btn button">
              <a href=""><p>Download</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
