<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Professor's Book</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <link rel="stylesheet" href="../public/css/main.css" />
  <link rel="icon" href="favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:700|Raleway:100"
    rel="stylesheet"
  />
</head>
<body>
  <header class="main-header" id="home">
    <nav class="header-container clearfix">
      <ul class="main-nav">
        <li><a class="link1" href="#home">Home</a></li>
        <li><a class="link2" href="#portfolio">Books</a></li>
      </ul>
    </nav>

    <div class="banner">
      <img
        class="profile-picture"
        src="https://i.postimg.cc/L5mqpHZd/responsive-layout-profile.png"
        alt="Profile Picture"
      />
      <p class="intro-text">
        <span>Professor's Name</span> <br /><br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
        voluptatibus voluptas perferendis sed dolorum nihil, temporibus
        blanditiis natus, tempora quas aliquid necessitatibus iste quisquam et
        porro non minus. Ab, quam.
      </p>
    </div>
  </header>

  <div class="bottom">
    <div class="section-contact" id="contact">
      <h2>Contact</h2>
      <p>
        If you're interested in chatting or want more information <br />
        about what I've been working on, I'd love to hear from you!
      </p>
      <div class="info">
        <p>Phone &nbsp;<strong>+91 94350110019</strong></p>
        <p>Email &nbsp;<strong>email@yoursite.com</strong></p>
      </div>
    </div>
  </div>
</body>
