<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Professor's Book</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <link rel="stylesheet" href="../public/css/main.css" />
  <link rel="stylesheet" href="../public/css/admin.css" />
  <link rel="stylesheet" href="../public/css/modal.css" />
  <link rel="icon" href="favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:700|Raleway:100"
    rel="stylesheet"
  />
</head>
<body>
  <!-- Modals -->
  <!-- User Form -->
  <div class="form-container">
    <form id="form" action="" method="post">
      <h3>UserName</h3>
      <h4>Please enter new Username</h4>
      <fieldset>
        <input
          type="text"
          placeholder="Username"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Please enter new password</h4>
      <fieldset>
        <input
          type="text"
          placeholder="Password"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </form>
  </div>
  <!-- End of User Form -->
  <!-- Profile picture form -->
  <div class="form-container">
    <form id="form" action="" method="post">
      <h3>Profile Picture</h3>
      <h4>Please upload a profile picture</h4>
      <fieldset>
        <input
          type="file"
          tabindex="1"
          required
          autofocus
        />
         <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
  <!-- End of Profile picture form -->
  <!-- Intro Text Form -->
  <div class="form-container">
    <form id="form" action="" method="post">
      <h3>Intro</h3>
      <h4>Please enter your intro</h4>
      <fieldset>
        <textarea placeholder="Intro" name="Intro" id="" cols="30" rows="10"></textarea>
         <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
  <!-- End of Intro text Form -->
  <!-- Profile New Field Form -->
  <div class="form-container">
    <form id="form" action="" method="post">
      <h3>Profile Field</h3>
      <h4>Please enter Field Name</h4>
      <fieldset>
        <input
          placeholder="Field Name"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Please enter Field Description</h4>
      <fieldset>
        <textarea placeholder="Field Description" name="Description" id="" cols="30" rows="10"></textarea>
         <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
  <!-- End of Profile New Field Form -->
  <!-- Profile Field Edit Form -->
    <div class="form-container">
    <form id="form" action="" method="post">
      <h3>Field Name</h3>
      <h4>Please enter new Field name</h4>
      <fieldset>
        <input
          placeholder="Field Name"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Please enter new Field Description</h4>
      <fieldset>
       <textarea placeholder="Field Description" name="Description" id="" cols="30" rows="10"></textarea>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Update</button>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Delete</button>
      </fieldset>
    </form>
  </div>
  <!--End of Profile Field Edit Form -->
  <!-- Contact Details Form -->
  <div class="form-container">
    <form id="form" action="" method="post">
      <h3>Contact Details</h3>
      <h4>Enter Email ID</h4>
      <fieldset>
        <input
          placeholder="Email ID"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Enter Phone Number</h4>
      <fieldset>
        <input
          placeholder="Phone Number"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Enter Facebook Profile Link</h4>
      <fieldset>
        <input
          placeholder="Facebook Profile Link"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <h4>Enter LinkedIn Profile Link</h4>
      <fieldset>
        <input
          placeholder="LinkedIn Profile Link"
          type="text"
          tabindex="1"
          required
          autofocus
        />
      </fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </form>
  </div>
  <!-- End of Contact Details Form -->
  <!-- end of Modals -->
  <header class="main-header" id="home">
    <nav class="header-container clearfix">
      <ul class="main-nav">
        <li><a class="link1" href="">Home</a></li>
        <li><a class="link2" href="">Books</a></li>
        <li><a class="link2" href="">Admin</a></li>
      </ul>
    </nav>

    <div class="banner">
      <div class="edit">
        <a href=""
          ><img src="../public/images/edit.png" alt="" class="edit-button"
        /></a>
      </div>
      <img
        class="profile-picture"
        src="https://i.postimg.cc/L5mqpHZd/responsive-layout-profile.png"
        alt="Profile Picture"
      />
      <div class="edit">
        <a href=""
          ><img
            src="../public/images/edit-blue.png"
            alt=""
            class="edit-button"
            id="intro-button"
        /></a>
      </div>
      <p class="intro-text">
        <span>Professor's Name</span> <br /><br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident
        voluptatibus voluptas perferendis sed dolorum nihil, temporibus
        blanditiis natus, tempora quas aliquid necessitatibus iste quisquam et
        porro non minus. Ab, quam.
      </p>
    </div>
  </header>
  <section class="grid-item">
    <div class="education item">
      <h3>Education</h3>
      <div class="edit">
        <a href=""
          ><img
            src="../public/images/edit-blue.png"
            alt=""
            class="edit-button"
            id="grid-button"
        /></a>
      </div>
      <div class="edu-details">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, libero
        <br />
        Lorem ipsum dolor sit amet consectetur.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <br />
        Lorem ipsum dolor sit.
      </div>
    </div>
    <div class="experience item">
      <h3>Experience</h3>
      <div class="edit">
        <a href=""
          ><img
            src="../public/images/edit-blue.png"
            alt=""
            class="edit-button"
            id="grid-button"
        /></a>
      </div>
      <div class="exp-details">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, libero
        <br />
        Lorem ipsum dolor sit amet consectetur.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <br />
        Lorem ipsum dolor sit.
      </div>
    </div>
  </section>
  <div class="bottom">
    <div class="edit">
      <a href=""
        ><img
          src="../public/images/edit-blue.png"
          alt=""
          class="edit-button"
          id="contact-button"
      /></a>
    </div>
    <div class="section-contact" id="contact">
      <h2>Contact</h2>
      <p>
        If you're interested in chatting or want more information <br />
        about what I've been working on, I'd love to hear from you!
      </p>
      <div class="info">
        <p>Phone &nbsp;<strong>+91 94350110019</strong></p>
        <p>Email &nbsp;<strong>email@yoursite.com</strong></p>
      </div>
    </div>
  </div>
</body>
