.books-grid {
  color: #3626a7;
  font-size: 1em;
}

a:link {
  text-decoration: none;
}

@media (max-width: 800px) {
  
}
.button-style{
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.books {
  position: relative;
  width: 100%;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  display: grid;
  grid-template-rows: 1fr;
  margin-left: 13%;
}

.books::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.main::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.books.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.books .before {
  left: 0;
  background: linear-gradient(
    linear,
    left top,
    right top,
    from(#fafafa),
    to(rgba(250, 250, 250, 0))
  );
}

.book {
  justify-content: initial;
  align-content: center;
  height: 36vh;
  width: 100%;
  max-width: 70%;
  margin: 2em 1em;
  text-align: center;
  overflow: hidden;
  transform: translateY(0px);
  transition: ease 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.068);
  background-color: aliceblue;
  padding-top: 1rem;
}

.book:hover {
  transform: translateX(10px);
}

/* Main Body */

#book-cover {
  width: 50%;
  object-fit: contain;
}
.book-img {
  overflow: hidden;
  object-fit: cover;
  float: left;
  width: 30%;
  /* height: 95%; */
}
@media screen and (min-width : 768px){
  .book-img{
    height: 95%;
  }
}

.book-name {
  font-family: var(--global-font);
  padding: 10px;
  font-size: 30px;
  overflow: hidden;
  float: left;
}

p {
  font-family: var(--global-font);
}

.book-price {
  color: var(--Grey-dark-1);
  text-decoration: none;
  overflow: hidden;
}

.buttons {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
      justify-content: space-between;
    margin-top: 12%;
    margin-right: 45%;
}

.button {
  overflow: hidden;
  background: blueviolet;
  padding : 10px 20px;
}

.add-book {
  text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    background-color: whitesmoke;
    border: 0;
    font-size: 1.3rem;
}
.edit-book {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: blueviolet;
  border: 0;
  font-size: 1.3rem;
}

.add-book:hover {
  color: orange;
}


@media screen and (max-width: 768px) {
  .book-name{
    float: none;
  }
  .buttons{
    margin-right: 7%;
  }
  .book {
    height: 35vh;
    width: 100%;
  }
  .book-img{
    width: 50%;
  }
  .main {
    margin: 0;
    margin-top: 15vh;
    padding: 0;
    /* background-color: #070707; */
  }
  .books-grid {
    margin-top: 20px;
  }
}

@media screen and (max-width:1024px) and (min-width:769px)
{
  .book-img{
    width: 50%;
  }
  .buttons{
    margin-top: 29%;
    margin-right: 10%;
  }
}

@media screen and (max-width:520px)
{
  .book-img{
    width: 100%;
  }
  .book{
    height: 45vh;
  }
  .buttons{
    margin-top: 9%;
    padding-top: 0;
    justify-content: space-around;
    margin-right: 0;
  }
  .book:hover {
  transform: translateY(-10px);
}
}